.product {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-decoration: none;
    width: 100%;
}

.product__image-container {
    height: 0;
    padding-bottom: 90%;
    position: relative;
}

.product__image {
    height: 100%;
    inset: 0;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.product__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product__title {
    color: var(--color-primary);
    font-size: 2rem;
}

.product__price {
    color: var(--color-accent);
    font-size: 2rem;
}