.banner {
  height: 0;
  margin: 0 auto;
  max-width: calc(1440px + 2 * var(--container-padding-inline-desktop));
  padding-bottom: 424px;
  padding-inline: 0;
  position: relative;

  &__image {
    height: 100%;
    inset: 0;
    object-fit: cover;
    position: absolute;
    width: 100%;
  }

  &__text-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &__text {
    color: var(--color-accent-primary);
    font-family: var(--font-family-heading-alternative);
    letter-spacing: 0.05em;
    font-weight: var(--font-weight-regular);
    max-width: 704px;
    text-align: center;
  }
}
