:root {
  --container-spacing-mobile: calc(400px + 2 * var(--container-padding-inline-mobile));
  --container-spacing-tablet: calc(704px + 2 * var(--container-padding-inline-tablet));
  --container-spacing-desktop: calc(1200px + 2 * var(--container-padding-inline-desktop));

  --container-padding-inline-mobile: 16px;
  --container-padding-inline-tablet: 32px;
  --container-padding-inline-desktop: 120px;

  --container-gap-mobile: 20px;
  --container-gap-tablet: 20px;
  --container-gap-desktop: 20px;

  --container-margin-mobile: 32px auto;
  --container-margin-tablet: 40px auto;
  --container-margin-desktop: 80px auto;

  --padding-inline: var(--container-padding-inline-mobile);
}
