:root {
  --container-spacing-mobile: calc(400px + 2 * var(--container-padding-inline-mobile));
  --container-spacing-tablet: calc(704px + 2 * var(--container-padding-inline-tablet));
  --container-spacing-desktop: calc(1200px + 2 * var(--container-padding-inline-desktop));

  --container-padding-inline-mobile: 16px;
  --container-padding-inline-tablet: 32px;
  --container-padding-inline-desktop: 120px;

  --padding-inline: var(--container-padding-inline-mobile);
}
