:root {
    --container-spacing-mobile: 375px;
    --container-spacing-tablet: 900px;
    --container-spacing-desktop: 1440px;
    
    --container-margin-mobile: 0 20px;
    --container-margin-tablet: 0 40px;
    --container-margin-desktop: 0;

    --padding-inline: 24px;
    --padding-block: 40px;
}