@import "../abstracts/colors";

$colors: (
  primary: var(--color-primary),
  secondary: var(--color-secondary),
  tertiary: var(--color-tertiary),
  accent-primary: var(--color-accent-primary),
  accent-secondary: var(--color-accent-secondary),
);

@each $name, $color in $colors {
  .text-color-#{"" + $name} {
    color: $color;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-regular);
}

h1, .h1 { 
  font-size: var(--font-size-heading-1);
}

h2, .h2 {
  font-size: var(--font-size-heading-2);
}

h3, .h3 {
  font-size: var(--font-size-heading-3);
}

h4, .h4 {
  font-size: var(--font-size-heading-4);
}

h5, .h5  {
  font-size: var(--font-size-heading-5);
}

h6, .h6 {
  font-size: var(--font-size-heading-6); 
}

p, a, li, .text-size-lg, .text-size-md, .text-size-sm {
  font-family: var(--font-family-base);
}

.text-size-lg {
  font-size: var(--font-size-text-lg);
}

.text-size-md {
  font-size: var(--font-size-text-md);
}

.text-size-sm {
  font-size: var(--font-size-text-sm);
}

.text-weight-strong {
  font-weight: var(--font-weight-strong);
}

.text-weight-semi-bold {
  font-weight: var(--font-weight-semi-bold);
}

.text-weight-regular {
  font-weight: var(--font-weight-regular);
}

.text-weight-light {
  font-weight: var(--font-weight-light);
}

p, a, li {
  color: var(--color-accent-primary);
  font-size: var(--font-size-text-md);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
}

