.footer {
  align-items: center;
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  padding: 0 var(--padding-inline);

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: var(--container-spacing-desktop);
    padding: 32px 0;
    width: 100%;
  }

  .content {
    &__items {
      display: flex;
      flex-direction: column;
      gap: 32px;
      justify-content: center;
      text-align: center;
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 184px;
    }
  }

  .item {
    &__title {
      color: var(--color-accent-primary);
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {

    .content {
      &__items {
        flex-direction: row;
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .footer {
    &__content {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
    }

    .content {
      &__items {
        flex-direction: row;
        text-align: left;
      }
    }
  }
}
