.subscribe-form {
  align-items: center;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 60px;
  width: 100%;

  &__title {
    color: var(--color-accent-primary);
    font-family: var(--font-family-heading-alternative);
    text-align: center;
  }

  &__description {
    color: var(--color-accent-primary);
    margin-top: 10px;
    text-align: center;
  }

  &__input {
    align-items: center;
    color: var(--color-accent-primary);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 24px;
    width: 100%;

    .button {
      padding: 11px 16px;
    }
  }
}
