.register-form {
    background: var(--color-primary);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register-form__username,
.register-form__password {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 2rem;
}